.align-form {
  padding: 20px 10px 0 15px;
}
.align-text {
  padding: 10px 10px 10px 10px;
}
.search-text {
  width: 70%;
  margin: 0 30px 12px 0;
  padding: 7px;
}

.img-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.pad-bottom {
  padding-bottom: 15px;
}
.align-search-button {
  float: right;
}
:host
  ::ng-deep
  .ui-autocomplete-panel
  .ui-autocomplete-items
  .ui-autocomplete-list-item {
  padding: 0 !important;
}
.align-aadhar {
  padding-left: 20px;
}
.p-autocomplete {
  width: 100%;
}
/* :host ::ng-deep .ui-widget {
    width: 94% !important; 
} */
.align-subGame {
  padding-top: 24px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep button {
  margin-right: 0.25em;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.pad-bottom-none {
  padding-bottom: 0;
}
/* :host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background:blue;
    border-radius: 20px;
    padding-top: 8px;
    width: 120%;
 
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    padding-top: 10px;
    padding-right: 15px;
    color: #ffffff;
} */

:host ::ng-deep p-table .ui-table .ui-table-tbody > tr.row-success {
  background-color: #d4edda !important;
  color: #155724 !important;
}
.align-note {
  padding: 10px 0;
  color: red;
}

:host ::ng-deep p-table .ui-table .ui-table-tbody > tr.row-warning {
  background-color: #fff3cd !important;
  color: #856404 !important;
}
:host ::ng-deep .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  display: none;
}

:host ::ng-deep .ui-datepicker .ui-datepicker-header .ui-datepicker-next,
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  display: none !important;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: blue;
  border-radius: 20px;
  padding-top: 8px;
  width: 120%;
}
:host ::ng-deep .custom-toast .ui-toast-close-icon {
  position: absolute;
  font-size: 2em;
  top: 11px;
}
.align-message {
  padding: 8px;
}
:host ::ng-deep .ui-toast .ui-toast-icon {
  position: absolute;
  display: inline-block;
  left: 0.5em;

  padding: 0;
  font-size: 2em;
  top: 11px !important;
}
:host ::ng-deep .custom-toast .ui-toast .ui-toast-message-text-content {
  margin-left: 2.5em;
}

.error-class {
  color: red;
  padding-top: 15px;
}
.file-hint {
  padding-top: 10px;
  color: green;
}
.boder-b {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid black;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
body .ui-dataview .ui-dataview-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
:host ::ng-deep .btn-style {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
:host ::ng-deep .ui-panel .ui-panel-content {
  position: relative;
}
.car-detail {
  padding: 5px;
  float: left;
  width: 100%;
}
.align-image {
  padding-bottom: 10px;
  padding-left: 20px;
  height: 80px;
  width: 88px;
}
:host ::ng-deep .car-detail .ui-button-text {
  display: none;
}
:host ::ng-deep .ui-panel .ui-panel-content {
  min-height: 660px;
}
:host ::ng-deep .float-input {
  color: black;
}
:host ::ng-deep .ui-panel .ui-panel-titlebar .ui-panel-title {
  vertical-align: middle;
  font-weight: 700;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkbox label:after,
.radio label:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: 0.5;
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
  font-weight: normal;
}
:host ::ng-deep .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}
:host ::ng-deep .product-description {
  margin: 0 0 1rem 0;
}
:host ::ng-deep .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
:host ::ng-deep .product-category {
  font-weight: 600;
  vertical-align: middle;
}
:host ::ng-deep .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
:host ::ng-deep .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}
:host ::ng-deep .product-list-item .product-list-detail {
  flex: 1 1 0;
}
:host ::ng-deep .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}
:host ::ng-deep .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
:host ::ng-deep .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}
:host ::ng-deep .product-list-item .p-button {
  margin-bottom: 0.5rem;
}
:host ::ng-deep .product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
}
:host ::ng-deep .product-grid-item .product-grid-item-top,
:host ::ng-deep .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:host ::ng-deep .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}
:host ::ng-deep .product-grid-item .product-grid-item-content {
  text-align: center;
}
:host ::ng-deep .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;
  }
  :host ::ng-deep .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }
  :host ::ng-deep .product-list-item .product-list-detail {
    text-align: center;
  }
  :host ::ng-deep .product-list-item .product-price {
    align-self: center;
  }
  :host ::ng-deep .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }
  :host ::ng-deep .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
:host ::ng-deep .ui-paginator .ui-paginator-left-content {
  float: left;
  padding-left: 22px;
  padding-top: 5px;
}
/* :host ::ng-deep p-table {
    .ui-paginator {
        p-dropdown {
          display: inline-block;
        }
    }
} */
/* :host ::ng-deep p-table .ui-paginator .p-dropdown {
	display: inline-block;
}
 
:host ::ng-deep p-table .ui-paginator .ui-paginator-pages {
	width: 90px; 
    line-height: 1;
} */
:host ::ng-deep .ui-table-resizable .ui-table-thead > tr > th {
  overflow: unset;
}
/* :host ::ng-deep .ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
} */
:host ::ng-deep {
  /* Responsive */
}
:host ::ng-deep .p-paginator .p-paginator-current {
  margin-left: auto;
}
:host ::ng-deep .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}
:host ::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}
:host ::ng-deep .table-header {
  display: flex;
  justify-content: space-between;
}
:host ::ng-deep .p-calendar .p-datepicker {
  min-width: 25rem;
}
:host ::ng-deep .p-calendar .p-datepicker td {
  font-weight: 400;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}
:host
  ::ng-deep
  .p-datatable.p-datatable-customers
  .p-datatable-thead
  > tr
  > th {
  text-align: left;
}
:host
  ::ng-deep
  .p-datatable.p-datatable-customers
  .p-datatable-tbody
  > tr
  > td {
  cursor: auto;
}
:host
  ::ng-deep
  .p-datatable.p-datatable-customers
  .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}
:host
  ::ng-deep
  .p-datatable-customers
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 960px) {
  :host
    ::ng-deep
    .p-datatable.p-datatable-customers
    .p-datatable-thead
    > tr
    > th,
  :host
    ::ng-deep
    .p-datatable.p-datatable-customers
    .p-datatable-tfoot
    > tr
    > td {
    display: none !important;
  }
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
    border-bottom: 1px solid var(--layer-2);
  }
  :host
    ::ng-deep
    .p-datatable.p-datatable-customers
    .p-datatable-tbody
    > tr
    > td {
    text-align: left;
    display: block;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
    border: 0 none;
  }
  :host
    ::ng-deep
    .p-datatable.p-datatable-customers
    .p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4rem 1rem -0.4rem -0.4rem;
    font-weight: bold;
  }
  :host
    ::ng-deep
    .p-datatable.p-datatable-customers
    .p-datatable-tbody
    > tr
    > td
    .p-progressbar {
    margin-top: 0.5rem;
  }
}
