:host ::ng-deep .custom-toast .ui-toast {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

:host ::ng-deep .ui-toast .ui-toast-message.ui-toast-message-error {
  width: 150%;
  border-radius: 19px;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.align-heading {
  padding: 10px;
  margin: 0;
  color: #080808;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}
table td {
  padding: 20px 8px !important;
  text-align: center;
}
table th {
  padding: 15px 8px !important;
  text-align: center;
  background-color: #32383e !important;
}
.align-container {
  margin-top: 0;
  padding-left: 0;
}
.align-margin-top {
  margin-top: 10px;
  margin-bottom: 10px;
}
:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: blue;
  border-radius: 20px;
  padding-top: 8px;
  width: 120%;
}
:host ::ng-deep .custom-toast .ui-toast-close-icon {
  position: absolute;
  font-size: 2em;
  top: 11px;
}
.align-message {
  padding: 8px;
}
:host ::ng-deep .ui-toast .ui-toast-icon {
  position: absolute;
  display: inline-block;
  left: 0.5em;

  padding: 0;
  font-size: 2em;
  top: 11px !important;
}
:host ::ng-deep .custom-toast .ui-toast .ui-toast-message-text-content {
  margin-left: 2.5em;
}

:host ::ng-deep .ui-toast .ui-toast-summary {
  padding: 6px 0 0.5em 0;
}
:host ::ng-deep .button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
:host ::ng-deep .ui-toast .ui-toast-close-icon {
  padding-top: 10px;
  padding-right: 21px;
  text-decoration: none;
}

:host ::ng-deep .ui-toast .ui-toast-icon {
  padding-top: 3px;
}
.align-report-heading {
  padding: 0 50px;
  cursor: pointer;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}
