.cusror-pointer {
    cursor: pointer;
}
.align-form {
    padding: 20px 10px 0 15px;
}
.align-text {
    padding: 10px 0 10px 0;
} 
.btn-white {
    color:white !important
}
.pos-relative {
    position: relative;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.no-event {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.align-title {
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
    margin-bottom: 20px;
} 
.card-text {
    color: black;
}
.align-terms-condition {
    padding-left: 15px;
}
.table-borderless > tbody > tr > th {
    width: 130px !important;
} 
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none !important;
  
}

.dialog-center {
    z-index: 11001;
    left: 300;
    top: 74px;
    transform: none;
    opacity: 1;
    /* right: 200px; */
    width: 1078px;
}
.align-checkbox {
    padding-top: 20px;
}
:host ::ng-deep .ui-dialog {
     width: 1078px;

}
 
.new-deal{width:100%;float:left;}
.new-deal .item-slide{position: relative;overflow: hidden;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;margin:15px 0;}
.new-deal .slide-hover{ position: absolute;height: 100%;width: 100%;left: -100%; background:rgba(0,0,0,.5);top: 0;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-moz-border-radius: 5px; border-radius: 5px;-webkit-border-radius: 5px;  }
.new-deal .item-slide:hover .slide-hover{left:0px;}
.new-deal img{max-width:100%;}
.text-wrap {position: absolute;bottom: 0;left: 0;width: 100%;color: #fff;background: rgba(0, 0, 0, .5);z-index:999;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;}
.text-wrap h4{padding:0 5px;}
.box-img{width: 100%;   float: left;    -moz-border-radius: 5px; border-radius: 5px;-webkit-border-radius: 5px;    overflow: hidden;    border: 1px solid #ccc;}
.text-wrap .desc{width:50%;float:left;padding:0 5px;}
.text-wrap p{padding: 15px;font-size: 15px;text-align: center;font-weight: normal;text-shadow: 2px 2px 3px #000;}
.text-wrap .desc h4{margin:0px;font: 400 17px/21px "Roboto";}
.text-wrap .desc h3{margin:0px;font: 400 32px/36px "Roboto";}
.new-deal .item-slide:hover .text-wrap{background:none}
.book-now-c {float:right;padding:10px;}
.book-now-c a {background: #029a8b;color: #fff;padding: 5px;border-radius: 5px;margin-top:0px;float: left;min-width: 101px;text-align: center;font-size: 16px;}
.new-deal .item-slide:hover .box-img .text-wrap{bottom:-100%;}
 

/*body {
     background-color: #fcbf49;
} */
/* .wrapper {
    margin-top: 55px;
} */
.amount-font {
    font-size: 20px;
}
.align-card {
    text-align: center;
    /* border-bottom: 1px solid white; */
    font-size: 22px;
    width: 100%;
    padding-bottom: 10px;
    font-weight: bold;
}
/* .wrapper{
    margin-top: 55px;
} */
.eve-sect{
    float: left;
    width: 100%;
    margin-bottom:10px;
}
/* .event-container {
    margin-top: 70px;
  } */
.eve-sect .eve-val{ line-height: 1;
    font-size: 13px;  }
    .red-btn {
        background: #EE1D23;
        border: none;
        padding: 10px 30px;
        font-size: 11px;
        color: #fff;
        border-radius: 30px;
        font-weight: bold;
    }
    .view-more{
        margin-top: 80px;
    clear: both;
    }
.red-btn:hover{
    color:#fff;
}
.date-font {
    font-size: 13px;
    color: #00A54F;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.align-card-title {
    font-size: 16px;
}
.venue{
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 250px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}


.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}
.card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
}
.card.card-has-bg:hover {
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
}
.card.card-has-bg:hover .card-img-overlay {
    background: #fff;
}
.card .card-footer {
    background: none;
    border-top: none;
}
.card .card-footer .media img {
    border: solid 3px rgba(234, 95, 0, 0.3);
}
.card .card-meta {
    color: orange;
}
.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
}
.card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #fff;
    color:#080808;
}

 
:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background:blue;
    border-radius: 20px;
    padding-top: 8px;
    width: 120%;
}
:host ::ng-deep .custom-toast .ui-toast-close-icon {
    position: absolute;
    font-size: 2em;
    top: 11px;
}
.align-message {
    padding: 8px;
}
:host ::ng-deep .ui-toast .ui-toast-icon {
    position: absolute;
    display: inline-block;
    left: 0.5em;
  
    padding: 0;
    font-size: 2em;
    top: 11px !important;
  }
:host ::ng-deep .custom-toast  .ui-toast .ui-toast-message-text-content {
    margin-left: 2.5em;
}

:host ::ng-deep .ui-toast .ui-toast-summary {
    padding: 6px 0 .5em 0;
}


@media (max-width: 767px) {
    /* .wrapper {
        margin-top: 88px;
    } */
    .align-card-title {
        font-size: 14px;
    }
    .card {
        min-height: 230px;
    }

}