<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap"
  rel="stylesheet"
/>

<app-loading *ngIf="showspinner"></app-loading>

<div class="event-container pos-relative" *ngIf="showNoEvent">
  <img class="img-center" src="assets/images/nodata.svg" />
  <span class="no-event"
    ><i class="fas fa-smile"></i
    ><b> SORRY THERE IS NO ACTIVE EVENT NOW !</b></span
  >
</div>
<p-dialog
  class="align-dialog"
  header="Terms and Conditions"
  [(visible)]="display"
  width="600"
  [modal]="true"
  [responsive]="true"
  [maximizable]="true"
  [baseZIndex]="1000"
>
  <form [formGroup]="eventForm">
    <div class="">
      <div class="">
        <div class="col-sm-6" class="align-text">
          <span>{{ eventNote }}</span>
          <span class="align-checkbox ui-float-label">
            <p-checkbox formControlName="termsCondition"></p-checkbox>
            <span class="align-terms-condition"
              >I Agree to terms and conditions</span
            >
          </span>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button
      [disabled]="!eventForm.valid"
      class="btn red-btn"
      (click)="onSubmit()"
    >
      SUBMIT
    </button>
    <button (click)="display = false" class="btn secondory-btn">Cancel</button>
  </p-footer>
</p-dialog>

<div class="wrapper">
  <section class="wrapper">
    <div class="row">
      <span class="card-meta mb-2 align-card" *ngIf="!showNoEvent"
        ><span style="color: #485e88">i</span
        ><span style="color: #ee1d23">S</span
        ><span style="color: #00a54f">S</span
        ><span style="color: #54c5cf">O</span> EVENTS</span
      >
      <div class="col-md-4 col-sm-6" *ngFor="let event of eventInfo">
        <div (click)="showDialog(event)" class="card card-has-bg click-col">
          <img
            class="card-img d-none"
            src="https://source.unsplash.com/600x900/?tech,street"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="align-card-title card-title mt-0">
                <a class="" herf="#">
                  {{ event.eventName }}
                </a>
              </h4>
              <span class="date-font"
                ><i class="far fa-clock"></i>Starting on
                {{ event.startDate | date : "d MMMM , y" }}</span
              >
              <div class="eve-sect">
                <div class="eve-val">
                  <label>Venue:</label>{{ event.location }}
                </div>
              </div>
              <div class="eve-sect">
                <div class="eve-val">
                  <label>Registration:</label>
                  {{ registerFee * event.price }} Rs per player
                </div>
              </div>
              <div class="view-more">
                <span (click)="showDialog(event)" class="red-btn"
                  >ENROLL NOW</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
