<div *ngIf="isShowLoader" class="loader">
  <img height="100" width="100" src="assets/images/loading.gif" />
</div>
<div *ngIf="!showNoQrData">
  <div class="main-body certificate-font">
    <div *ngFor="let student of certificateData; let i = index">
      <section class="upper-body">
        <!-- <img src="assets/images/newImages/sp1.png" /> -->
        <img *ngIf="!isFutureYear" src="assets/images/newImages/sp1.png" />
        <img *ngIf="isFutureYear" src="assets/images/newImages/2025_1.jpg" />
      </section>
      <section
        [ngClass]="
          isFutureYear ? 'certificate-2025-section' : 'certificate-section'
        "
      >
        <h1>{{ student.certifiacteHeaderContent }}</h1>
        <div class="venue-section">
          <span>VENUE:</span><span>{{ student.location | uppercase }}</span>
          <div>
            {{ student.startDate | date : "d-MMM-y" }} -
            {{ student.endDate | date : "d-MMM-y" }}
          </div>
        </div>

        <h2 *ngIf="isMerit">MERIT CERTIFICATE</h2>
        <h2 *ngIf="!isMerit">PARTICIPATION CERTIFICATE</h2>
        <div class="certificate-form">
          <div class="cert-left-section">
            <div class="cer-row">
              <div class="cer-label-section">AWARDED TO:</div>
              <div class="cer-value-section">{{ student.studentName }}</div>
            </div>
            <div class="cer-row">
              <div class="cer-label-section">FATHER’S/MOTHER’S NAME:</div>
              <div class="cer-value-section">{{ student.fatherName }}</div>
            </div>
            <div class="cer-row">
              <div class="cer-label-section">DATE OF BIRTH:</div>
              <div class="cer-value-section">
                {{ student.dateOfBirth | date : "d-MMM-y" }}
              </div>
            </div>
            <div class="cer-row">
              <div class="cer-label-section">CLASS:</div>
              <div class="cer-value-section">{{ student.standardClass }}</div>
            </div>
            <!-- <div class="cer-row">
                            <div class="cer-label-section">SCHOOL NAME: </div>
                            <div class="cer-value-section">{{student.schoolName}}</div>
                        </div> -->
          </div>
          <div class="cert-right-section">
            <div class="cer-row">
              <div class="cer-photo-section">
                <img
                  src="https://issoindia.com/isso-php/upload/{{
                    student.event_year
                  }}/{{ student.photo }}"
                />
                <p class="merit-id" *ngIf="isMerit">ISSO/{{ student.sId }}</p>
              </div>
            </div>
          </div>
          <div class="cer-row">
            <div class="cer-label-section aalign-school-label">
              SCHOOL NAME:
            </div>
            <div class="cer-value-section align-school-name">
              {{ student.schoolName }}
            </div>
          </div>
        </div>

        <div class="summary-section">
          <p>
            HAS PARTICIPATED IN
            <span>{{ student.certifiacteMainContent }}</span> IN "{{
              student.gameName
            }}"
            <span *ngIf="isMerit && student.gameType === 'Both'"
              >SUBGAME {{ student.subGameName }}</span
            >
            "UNDER {{ student.ageRange }}"
            <span *ngIf="student.gender === '1'"> "BOYS"</span
            ><span *ngIf="student.gender === '2'"> "GIRLS"</span> HELD AT "{{
              student.location | uppercase
            }}"<span *ngIf="isMerit"
              >AND
              <span *ngIf="student.subgameType === 'Team'">TEAM</span> SECURED
              {{ rankText }} POSITION</span
            ><br />
            <span *ngIf="showTime" class="time-distance"
              >TIME/DISTANCE/POINT {{ student.timeDistance }}</span
            >
          </p>
        </div>
      </section>
      <section class="lower-body">
        <img
          *ngIf="!isMerit && student.qrscancode"
          class="qr-img"
          src="https://issoindia.com/isso-php/upload/qrscanner/{{
            student.event_year
          }}/{{ student.qrscancode }}"
        />
        <img
          *ngIf="isMerit && student.qrscancode"
          class="qr-img"
          src="https://issoindia.com/isso-php/upload/qrscanner/{{
            student.event_year
          }}/merit/{{ student.qrscancode }}"
        />
        <!-- <img class="lower-bg" src="assets/images/newImages/sp3.png" /> -->
        <img
          *ngIf="!isFutureYear"
          class="lower-bg"
          src="assets/images/newImages/sp3.png"
        />
        <img
          *ngIf="isFutureYear && !isMerit"
          class="lower-bg"
          src="assets/images/newImages/2025_3.jpg"
        />
        <img
          *ngIf="isFutureYear && isMerit"
          class="lower-bg"
          src="assets/images/newImages/2025_merit.jpg"
        />
      </section>
    </div>
  </div>
</div>
<div *ngIf="showNoQrData">
  <div class="align-logo">
    <img src="https://issoindia.com/img/logo.png" height="300" width="300" />
  </div>
  <div class="no-data">
    MERIT DATA DOES NOT EXIT
    <a href="http://issoindia.com/">GO TO HOME</a>
  </div>
</div>
