<div class="bgVal">
<div class="container" style="text-align: center;">
    <img class="align-logo" height="100" width="100" src="assets/images/web/logo_retina.png">
</div>

<div class="container">
  
    <div class="form-title col-md-12">ISF GYMNASIADE BAHRAIN 2024</div> 
    <div *ngIf="isRegisteredSchool" class="register-form">
        <form [formGroup]="fileForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Enter Mobile Number:</label>
                    <input class="form-control" id="float-input"  (blur)="onEnterMob($event.target.value)"  formControlName="mobNo"  type="text" size="30"  [ngClass]="{'is-invalid': ifs.mobNo.touched && ifs.mobNo.errors }">  
                    <div *ngIf="ifs.mobNo.touched && ifs.mobNo.errors" class="invalid-feedback">
                        <div *ngIf="ifs.mobNo.errors.required">Mobile Number is  required</div>
                        <div *ngIf="ifs.mobNo.hasError('pattern')">Please enter valid contact number</div>
                        <div *ngIf="ifs.mobNo.hasError('min')">Contact number should be 10 digit</div>
                        <div *ngIf="ifs.mobNo.hasError('max')">Contact number should be 10 digit</div>  
                    </div> 
                    <span class="error-message" *ngIf="isMobExist">This mobile number already exist in database</span>
                    
                </div> 
                 
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Enter Name:</label>
                    <input class="form-control" id="float-input"  formControlName="name"  type="text" size="30"  [ngClass]="{ 'is-invalid': ifs.name.touched && ifs.name.errors }">  
                    <div *ngIf="ifs.name.touched && ifs.name.errors" class="invalid-feedback">
                        <div *ngIf="ifs.name.errors.required">Name is  required</div>
                    </div> 
                </div> 
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Enter Game Name:</label>
                    <input class="form-control" id="float-input"  formControlName="gameName"  type="text" size="30"  [ngClass]="{ 'is-invalid': ifs.gameName.touched && ifs.gameName.errors }">  
                    <div *ngIf="ifs.gameName.touched && ifs.gameName.errors" class="invalid-feedback">
                        <div *ngIf="ifs.gameName.errors.required">Game Name is  required</div>
                    </div> 
                </div> 
                <div class="form-group col-md-6">
                    <div> 
                        <label for="inputEmail4">Upload Passport:</label>
                        <input type="file"  (change)="onPassportSelected($event)" #filePassportInput>
                    </div>
                    <div *ngIf="!isPassPortValidFile">
                        <span class="error-class">Invalid File type Please select file Image or PDF format only</span>
                    </div>
                    <div *ngIf="isPassportFileBig">
                        <span class="error-class">File size too large please select image below 100 KB</span>
                    </div> 
            
               </div> 
                <div class="form-group col-md-6">
                        <div>
                            <label for="inputEmail4">Upload School NOC:</label>
                            <input type="file" (change)="onSchoolNocSelected($event)" #fileInputSchoolNoc>
                        </div>
                        <div *ngIf="!isSchoolNocValidFile">
                            <span class="error-class">Invalid File type Please select file Image or PDF format only</span>
                        </div>
                        <div *ngIf="isSchoolNocFileBig">
                            <span class="error-class">File size too large please select image below 100 KB</span>
                        </div> 
 
                </div> 
                <div class="form-group col-md-6">
                    <div>
                        <label for="inputEmail4">Upload Parent NOC:</label>
                        <input type="file" (change)="onParentNocSelected($event)" #fileInputparentNoc>
                    </div>
                    <div *ngIf="!isParentNocValidFile">
                        <span class="error-class">Invalid File type Please select file Image or PDF format only</span>
                    </div>
                    <div *ngIf="isParnetNocFileBig">
                        <span class="error-class">File size too large please select image below 100 KB</span>
                    </div> 
          
               </div>
             
            </div> 
            <div class="form-row align-file-row">
            <div class="form-group col-md-6"> 
                 <button [disabled]="fileForm.invalid || isButtonDisabled" class="btn btn-primary marginR10" type="button" (click)="onFileUpload()">Submit</button>
            </div>
            </div>
        </form>
            <div class="form-row ">

                <div class="align-payment-hint col-md-12">Note:- Please verify Mobile Number to do Payment</div> 
                <div class="form-group col-md-6">
                  
                    <label for="inputEmail4">Enter Mob Number:</label> 
                    <input class="form-control" id="float-input"  (input)="onMobChange($event.target.value)"    type="text" size="30">  
                </div> 
                <button  [disabled]="!verifyMobNo" class="submit-button btn btn-primary marginR10" type="button" (click)="verifyMob()">Submit</button>
                <div class="hold-payment-hint  col-md-12">Kindly hold patiently until it is redirected to ISSO portal for payment confirmation.Please do not close tab or browser.</div> 

                <div class="form-group col-md-12" *ngIf="showErrorMessage">
                    <div class="col-md-6 alert alert-danger  alert-dismissible">
                    <button type="button" class="close close-button" data-dismiss="alert">&times;</button>
                    <strong>Error! </strong> 
                    <span class="align-message"> Data not found for this mobile No</span>
                    </div>
                </div> 
               
                <div class="row form-group col-md-6" *ngIf="isPaidStatus =='0'">
                    <div class="col-md-6">
                        <div>
                            <label for="inputEmail4">Total Payble Amount:  {{payableAmount}} Rs</label>
                           <div> <button class="btn pay-now-button" (click)="payNow(payableAmount)" type="button">PAY NOW</button></div>
                        </div>
                    </div>
                </div>
                <div class="row form-group col-md-6" *ngIf="isPaidStatus =='1' && !showErrorMessage">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                             Payment is successful !
                        </div>
                    </div>
                </div>
            </div>    
    
    </div> 
 
</div>
</div>
<p-toast [style]="{marginTop: '50px'}" styleClass="custom-toast" key="custom" position="bottom-center"></p-toast>



    
 




 

  