<div class="event-container">
  <div class="align-heading">Student Dashboard</div>

  <div class="btn-nav">
    <div>
      <span
        [ngClass]="isFirstYear ? 'active' : ''"
        class="grey-btn mr10"
        (click)="onyeareChange(yearOptions[0].year, 'first')"
        >{{ yearOptions[0].year }}</span
      >
      <span
        [ngClass]="!isFirstYear ? 'active' : ''"
        class="grey-btn mr10"
        (click)="onyeareChange(yearOptions[1].year, 'second')"
        >{{ yearOptions[1].year }}</span
      >
    </div>
  </div>
</div>
<div *ngIf="showStudentCount" class="align-student">
  Total number of student's:{{ studentCount }}
</div>
<div class="wrapper">
  <div id="content1" class="content-wrapper">
    <p-toast
      [style]="{ marginTop: '50px' }"
      styleClass="custom-toast"
      key="custom"
      position="bottom-center"
    ></p-toast>

    <div class="row align-mar">
      <div class="col-md-6 form-group">
        <p-dropdown
          [disabled]="!eventReadable"
          [(ngModel)]="selectedEvent"
          [options]="eventOptions"
          placeholder="Please Select"
          (onChange)="onEventChange($event)"
          [style]="{ 'min-width': '140px' }"
        ></p-dropdown>
      </div>
    </div>

    <p-dataView
      #dv
      [paginator]="true"
      paginatorPosition="bottom"
      *ngIf="showStudentCount"
      [rows]="10"
      [value]="schoolData"
      class="no-padding"
      filterBy="studentName,gameName"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      layout="grid"
    >
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12 filter-container">
              <div>
                <input
                  class="search-text"
                  type="search"
                  pInputText
                  placeholder="Search by student name and game name"
                  (input)="
                    dv.filter(
                      $event.target.value,
                      'studentName,gameName',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </p-header>

      <ng-template
        let-school
        pTemplate="gridItem"
        style="word-wrap: break-word"
      >
        <div style="padding: 0" class="ui-g-12 ui-md-12">
          <div class="item-box item-card">
            <div class="row">
              <div class="col-md-1 col-sm-2 hero-img">
                <div class="item-header">
                  <img
                    class="img-circle"
                    src="{{ setPhotoYear }}/{{ school.photo }}"
                    height="70"
                    width="70"
                    alt="banner"
                  />
                </div>
              </div>
              <div class="col-md-11 col-sm-10">
                <div class="row">
                  <div class="col-md-3 mt-top">
                    <h4 class="stud-name" title="{{ school.name }}">
                      {{ school.studentName }}
                    </h4>
                  </div>
                  <div class="col-md-3 mt-top">
                    <span
                      *ngIf="school.isPresent == '0'"
                      class="item-value present"
                      >Present</span
                    >
                    <span
                      *ngIf="school.isPresent == '1'"
                      class="item-value absent"
                      >Absent</span
                    >
                    <div class="icons-wrap">
                      <button
                        *ngIf="
                          school.event_status === '1' &&
                          school.startDate > today
                        "
                        href="#"
                        class="glyphicon glyphicon-trash item-icons"
                        (click)="deleteSchoolData($event, school)"
                      ></button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <!-- <div class="item-description"  *ngIf="school.isPresent =='0'">
                        <label>Present Status:</label>
                        <span  class="item-value">Present</span>
                      </div> -->
                    <div class="item-description">
                      <label>Father Name:</label>
                      <span class="item-value">{{ school.fatherName }}</span>
                    </div>
                    <div class="item-description">
                      <label>Gender:</label>
                      <span class="item-value" *ngIf="school.gender == '1'"
                        >Boy</span
                      >
                      <span class="item-value" *ngIf="school.gender == '2'"
                        >Girl</span
                      >
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="item-description">
                      <label>Date of Birth:</label>
                      <span class="item-value">{{
                        school.dateOfBirth | date : "d MMMM , y"
                      }}</span>
                    </div>
                    <div class="item-description">
                      <label>Class:</label>
                      <span class="item-value">{{ school.standardClass }}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item-description">
                      <label>Age Range:</label>
                      <span class="item-value">{{ school.ageRange }}</span>
                    </div>
                    <div class="item-description">
                      <label>Aadhar Number:</label>
                      <span class="item-value">{{ school.aadharNumber }}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item-description">
                      <label>Game Name:</label>
                      <span class="item-value">{{ school.gameName }}</span>
                    </div>

                    <div
                      class="item-description"
                      *ngIf="school.subGameName !== 'undefined'"
                    >
                      <label>Sub Game Name:</label>
                      <span class="item-value">{{ school.subGameName }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-3">
            <div class="item-description">
            <label>Event Name:</label>
            <div class="item-parent">
                <div class="item-value" title="{{school.eventName}}">{{school.eventName}}</div>
            </div>
          </div>
          <div class="item-description">
              <label>School Name:</label>
              <div class="item-parent">
                  <div class="item-value">{{school.schoolName}}</div>
              </div>
          </div> 
        </div> 
         <div class="col-md-3">
          <div class="item-description lastChild">
            <label>Enrollment date:</label>
            <span class="item-value">{{school.createdDate | date: 'd MMMM , y'}}</span>
        </div>
        </div> -->
            </div>

            <!-- <div class="item-description">
                <label>Sub Game Name:</label>
                <span class="item-value">{{school.subGameName}}</span>
            </div> -->
          </div>
        </div>
      </ng-template>
    </p-dataView>

    <p-confirmDialog
      key="confirm-delete-school"
      header="Delete Student Data"
      acceptLabel="Yes"
      rejectLabel="No"
    ></p-confirmDialog>
  </div>
</div>
