<div *ngIf="showSgfi">
  <div class="event-container">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-nav"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 align-game-div">
    <div>Select Game</div>
    <p-dropdown
      [(ngModel)]="selectedGame"
      (onChange)="loadGameChange($event)"
      [options]="gameOptions"
      size="30"
    ></p-dropdown>
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4 fancy-column">
        <div class="column-content">
          <h4>Column 1</h4>
          <p>This is some content in column 1. It has a unique style.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="col-md-4 fancy-column">
        <div class="column-content">
          <h4>Column 2</h4>
          <p>This is some content in column 2. It also has a unique style.</p>
          <a href="#" class="btn btn-success">Read More</a>
        </div>
      </div>
      <div class="col-md-4 fancy-column">
        <div class="column-content">
          <h4>Column 3</h4>
          <p>This is some content in column 3. It has a different style.</p>
          <a href="#" class="btn btn-danger">Read More</a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="ui-g-12 align-merit-content" *ngIf="studentRecordLength > 0">
    <div class="table">
      <div class="table-row table-header">
        <div class="table-cell align-sr">Sr No.</div>
        <div class="table-cell">Student Name</div>
        <div class="table-cell">Game Name</div>
        <div class="table-cell">Age</div>
        <div class="table-cell">Gender</div>
        <div class="table-cell">Action</div>
        <div class="table-cell">Status</div>
        <div class="table-cell">View PDF</div>
        <div class="table-cell">ISSO Status</div>
      </div>

      <div
        class="table-row"
        *ngFor="let student of sgfiStudentData; let i = index"
      >
        <div class="table-cell align-sr">{{ i + 1 }}</div>
        <div class="table-cell">{{ student.studentName }}</div>
        <div class="table-cell">{{ student.gameName }}</div>
        <div class="table-cell">{{ student.ageRange }}</div>
        <div class="table-cell">
          {{ student.gender == "1" ? "Boys" : "Girls" }}
        </div>
        <div class="table-cell">
          <button
            *ngIf="
              student.isForm == '0' ||
              student.isDoc == '0' ||
              student.isPaid == '0'
            "
            class="btn btn-primary sgfi-enroll-button"
            type="button"
            (click)="showEnrollDialog(student.sId, i)"
          >
            ENROLL NOW
          </button>
          <button
            *ngIf="
              student.isForm == '1' &&
              student.isDoc == '1' &&
              student.isPaid == '1'
            "
            class="btn btn-primary sgfi-enroll-button"
            type="button"
            (click)="showEnrollDialog(student.sId, i)"
          >
            VIEW/UPDATE
          </button>
        </div>
        <div class="table-cell">
          <span
            class="p-3 mb-2 bg-success text-white"
            *ngIf="
              student.isForm == '1' &&
              student.isDoc == '1' &&
              student.isPaid == '1'
            "
            >Completed</span
          >

          <span
            class="p-3 mb-2 bg-warning text-dark"
            *ngIf="
              (student.isForm == '1' &&
                (student.isDoc == '0' || student.isPaid == '0')) ||
              (student.isDoc == '1' && student.isPaid == '0') ||
              (student.isPaid == '1' &&
                (student.isForm == '0' || student.isDoc == '0'))
            "
            >In Progress</span
          >
          <span
            class="p-3 mb-2 bg-danger text-white"
            *ngIf="
              student.isForm == '0' &&
              student.isDoc == '0' &&
              student.isPaid == '0'
            "
          >
            Pending</span
          >
        </div>
        <div class="table-cell">
          <span
            class="p-3 mb-2 bg-danger text-white"
            *ngIf="
              student.isForm == '0' &&
              student.isDoc == '0' &&
              student.isPaid == '0'
            "
          >
            N/A</span
          >
          <span
            class="p-3 mb-2 bg-warning text-dark"
            *ngIf="
              (student.isForm == '1' &&
                (student.isDoc == '0' || student.isPaid == '0')) ||
              (student.isDoc == '1' && student.isPaid == '0') ||
              (student.isPaid == '1' &&
                (student.isForm == '0' || student.isDoc == '0'))
            "
            >N/A</span
          >
          <a
            target="_blank"
            *ngIf="
              student.isForm == '1' &&
              student.isDoc == '1' &&
              student.isPaid == '1'
            "
            href="{{ baseUrl }}Sgfipdf/sgfiViewPdf/{{ student.sId }}/{{
              student.schoolId
            }}/{{ student.gameId }}"
          >
            <i class="pdf-icon fas fa-file-pdf"></i>
          </a>
        </div>
        <div class="table-cell">
          <span
            class="p-3 mb-2 bg-success text-white"
            *ngIf="student.issoadminstatus == '1'"
            >Approved</span
          >
          <span
            class="p-3 mb-2 bg-danger text-white"
            *ngIf="student.issoadminstatus == '0'"
          >
            Pending</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!showSgfi">
  <div class="not-found-container">
    <div class="not-found-content">
      <h1>404</h1>
      <p>Sorry, the data you're looking for could not be found.</p>
      <a href="javascript:void(0)" class="btn btn-primary"
        >Please connect with ISSO admin !</a
      >
    </div>
  </div>
</div>

<p-dialog
  [contentStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    'max-height': '80vh',
    'min-height': '250px'
  }"
  header="{{ dialogHeader }}"
  styleClass="enroll-popup"
  [modal]="true"
  (onHide)="cancel()"
  [(visible)]="visible"
>
  <div class="justify-content-center">
    <div class="container">
      <div class="row">
        <div
          class="col-sm align-form-menu"
          (click)="formMenu('form')"
          [ngClass]="isForm ? 'isMenuActive' : ''"
        >
          <i class="pi pi-calendar"></i>
          ENROLL FORM
        </div>
        <div
          class="col-sm align-form-menu"
          (click)="formMenu('doc')"
          [ngClass]="isDoc ? 'isMenuActive' : ''"
        >
          <i class="pi pi-upload"></i>
          UPLOAD DOCUMENTS
        </div>
        <div
          class="col-sm align-form-menu"
          (click)="formMenu('payment')"
          [ngClass]="isPayment ? 'isMenuActive' : ''"
        >
          <i class="pi pi-money-bill"></i>
          PAYMENT
        </div>
      </div>
    </div>

    <div *ngIf="isForm">
      <div class="col-md-12 align-sgfi-form">
        <form
          [formGroup]="sgfiEnrollForm"
          #formDir="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="col-md-4">
            <div [hidden]="formDir.submitted">
              <div class="align-form-column">
                <label for="name"
                  >Student Name <span class="required-label">*</span></label
                >
                <input
                  name="studentNameText"
                  id="studentName"
                  class="form-control"
                  [(ngModel)]="studentName"
                  formControlName="name"
                  readonly
                  [ngClass]="{
                    'is-invalid error-input-border':
                      name.invalid && (name.dirty || name.touched)
                  }"
                />

                <div
                  class="error-message"
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                >
                  <div *ngIf="name.errors.required">
                    Student Name is required.
                  </div>
                </div>
              </div>

              <div class="align-form-column">
                <label for="alterEgo"
                  >Father Name <span class="required-label">*</span></label
                >
                <input
                  id="fatherName"
                  class="form-control"
                  [(ngModel)]="selectedFatherName"
                  formControlName="fatherName"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      fatherName.invalid &&
                      (fatherName.dirty || fatherName.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    fatherName.invalid &&
                    (fatherName.dirty || fatherName.touched)
                  "
                >
                  <div *ngIf="fatherName.errors.required">
                    Father Name is required.
                  </div>
                </div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo"
                  >Mother Name <span class="required-label">*</span></label
                >
                <input
                  id="motherName"
                  class="form-control"
                  formControlName="motherName"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      motherName.invalid &&
                      (motherName.dirty || motherName.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    motherName.invalid &&
                    (motherName.dirty || motherName.touched)
                  "
                >
                  <div *ngIf="motherName.errors.required">
                    Mother Name is required.
                  </div>
                </div>
              </div>

              <div class="align-form-column">
                <label for="alterEgo"
                  >Admission No. & Year
                  <span class="required-label">*</span></label
                >
                <input
                  id="admissionNo"
                  class="form-control"
                  formControlName="admissionNo"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      admissionNo.invalid &&
                      (admissionNo.dirty || admissionNo.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    admissionNo.invalid &&
                    (admissionNo.dirty || admissionNo.touched)
                  "
                >
                  <div *ngIf="admissionNo.errors.required">
                    Admission no is required.
                  </div>
                </div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo"
                  >Date of Joining the School
                  <span class="required-label">*</span></label
                >
                <p-calendar
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  dateFormat="dd/mm/yy"
                  formControlName="schoolJoinDate"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  yearRange="{{ minDate.getFullYear() }}:{{
                    maxDate.getFullYear()
                  }}"
                  [style]="{ width: '100%' }"
                  placeholder="Select Date of Birth"
                ></p-calendar>
                <!-- <input
                  id="schoolJoinDate"
                  class="form-control"
                  formControlName="schoolJoinDate"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      schoolJoinDate.invalid &&
                      (schoolJoinDate.dirty || schoolJoinDate.touched)
                  }"
                /> -->
                <div
                  class="error-message"
                  *ngIf="
                    schoolJoinDate.invalid &&
                    (schoolJoinDate.dirty || schoolJoinDate.touched)
                  "
                >
                  <div *ngIf="schoolJoinDate.errors.required">
                    Date of Joining the School is required.
                  </div>
                </div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo"
                  >Standard & Section Studying this year
                  <span class="required-label">*</span></label
                >
                <input
                  id="studyingYear"
                  class="form-control"
                  formControlName="studyingYear"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      studyingYear.invalid &&
                      (studyingYear.dirty || studyingYear.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    studyingYear.invalid &&
                    (studyingYear.dirty || studyingYear.touched)
                  "
                >
                  <div *ngIf="studyingYear.errors.required">
                    Standard & Section Studying this year is required.
                  </div>
                </div>
              </div>
              <div class="align-form-column">
                <label for="name"
                  >Last Year Registration No. SGFI
                  <span class="required-label">*</span></label
                >
                <input
                  id="sgfiRegNo"
                  class="form-control"
                  formControlName="sgfiRegNo"
                  required
                  [ngClass]="{
                    'is-invalid error-input-border':
                      sgfiRegNo.invalid &&
                      (sgfiRegNo.dirty || sgfiRegNo.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    sgfiRegNo.invalid && (sgfiRegNo.dirty || sgfiRegNo.touched)
                  "
                >
                  <div *ngIf="sgfiRegNo.errors.required">
                    Last Year Registration No. SGFI is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div [hidden]="formDir.submitted">
              <div class="align-form-column">
                <label for="alterEgo"
                  >Game Name<span class="required-label">*</span></label
                >
                <input
                  id="dicipline"
                  formControlName="dicipline"
                  class="form-control"
                  [(ngModel)]="selectedGameName"
                  readonly
                />
              </div>
              <div class="align-form-column">
                <label for="alterEgo"
                  >Standard Studying last year
                  <span class="required-label">*</span></label
                >
                <input
                  id="studyingLastYear"
                  class="form-control"
                  formControlName="studyingLastYear"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      studyingLastYear.invalid &&
                      (studyingLastYear.dirty || studyingLastYear.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    studyingLastYear.invalid &&
                    (studyingLastYear.dirty || studyingLastYear.touched)
                  "
                >
                  <div *ngIf="studyingLastYear.errors.required">
                    Standard Studying last year is required.
                  </div>
                </div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo"
                  >Personal Identification Marks 1:
                  <span class="required-label">*</span></label
                >
                <input
                  id="personalIdentity"
                  class="form-control"
                  formControlName="personalIdentity"
                  [ngClass]="{
                    'is-invalid error-input-border':
                      personalIdentity.invalid &&
                      (personalIdentity.dirty || personalIdentity.touched)
                  }"
                />
                <div
                  class="error-message"
                  *ngIf="
                    personalIdentity.invalid &&
                    (personalIdentity.dirty || personalIdentity.touched)
                  "
                >
                  <div *ngIf="personalIdentity.errors.required">
                    Personal Identification Marks is required.
                  </div>
                </div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo">Personal Identification Marks 2:</label>
                <input
                  id="personalIdentitytwo"
                  class="form-control"
                  formControlName="personalIdentitytwo"
                />
              </div>
              <div class="align-form-column">
                <label for="alterEgo">Aadhaar No.</label>
                <input
                  id="aadharNo"
                  class="form-control"
                  formControlName="aadharNo"
                />
              </div>
              <div class="align-form-column">
                <label for="alterEgo">Passport No. (if available)</label>
                <input
                  id="passport"
                  class="form-control"
                  formControlName="passport"
                />
              </div>
              <div class="align-form-column">
                <label for="alterEgo"
                  >Permanent Address & Phone / Mob. No</label
                >
                <input
                  id="studentAddress"
                  class="form-control"
                  maxlength="100"
                  formControlName="studentAddress"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div [hidden]="formDir.submitted">
              <div class="align-form-column">
                <label for="name">School Name</label>
                <div>{{ schoolName }}</div>
              </div>

              <div class="align-form-column">
                <label for="alterEgo">School Address</label>
                <div>{{ schoolAddress }}</div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo">School Phone with Code No</label>
                <div>{{ schoolContact }}</div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo">Date of Birth ( In Fig.)</label>
                <div>{{ dateOfBirth | date : "MMM d, y" }}</div>
              </div>

              <div class="align-form-column">
                <label for="alterEgo"
                  >Age in Completed years as on 31st December</label
                >
                <div>
                  <span>
                    {{ studentCompletedYear["years"] }} Year's,
                    {{ studentCompletedYear["months"] }} Months,
                    {{ studentCompletedYear["days"] }} Days
                  </span>
                </div>
              </div>
              <div class="align-form-column">
                <label for="alterEgo">
                  Bank Detail of participant (If no then mention Mother/Father
                  A/C No.):</label
                >
                <!-- <textarea [rows]="5" [cols]="30" class="form-control" formControlName="bankDetails"></textarea> -->
                <input
                  id="bankDetails"
                  maxlength="50"
                  class="form-control"
                  formControlName="bankDetails"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div>
        <button
          type="button"
          class="close-button btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button
          class="align-button"
          type="submit"
          (click)="onFormSubmit()"
          [disabled]="sgfiEnrollForm.invalid"
          class="btn btn-primary"
        >
          {{ formButtonVal }}
        </button>
      </div>
    </div>
    <div *ngIf="isDoc">
      <div class="col-md-12 align-sgfi-form">
        <form
          [formGroup]="sgfiFileEnrollForm"
          #formDir="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <h5>Candidate Scanned Sign</h5>
                <input
                  id="studentSign"
                  type="file"
                  (change)="onStudentSignSelected($event)"
                  id="customFile"
                  #studentSignInput
                />
                <div *ngIf="!isStudentSignValidFile">
                  <span class="error-class"
                    >Invalid File type Please select file type in correct format
                    only</span
                  >
                </div>
                <div *ngIf="isStudentFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div>
              <div class="col-md-4">
                <h5>Scanned Aadhaar/Passport/OCI (PDF Only)</h5>
                <input
                  type="file"
                  id="studentGovDoc"
                  (change)="onScannedaadharSelected($event)"
                  #scannedaadharInput
                />
                <div *ngIf="!isStudenAadaharValidFile">
                  <span class="error-class"
                    >Invalid File type Please select file type in correct format
                    only</span
                  >
                </div>
                <div *ngIf="isStudenAadaharFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div>
              <div class="col-md-4">
                <h5>School Bonafide (PDF Only)</h5>
                <input
                  type="file"
                  id="studentBonafide"
                  (change)="onBonafideSelected($event)"
                  #studentBonafideInput
                />
                <div *ngIf="!isBonafideFileValidFile">
                  <span class="error-class"
                    >Invalid File type Please select file type in correct format
                    only</span
                  >
                </div>
                <div *ngIf="isBonafideFileFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div>
              <div class="col-md-4">
                <h5>Last Year Mark Sheet (PDF Only)</h5>
                <input
                  type="file"
                  id="lastYearmarkSheet"
                  (change)="onMarkSheetSelected($event)"
                  #studentmarksheetInput
                />
                <div *ngIf="!markSheetFileValidFile">
                  <span class="error-class"
                    >Invalid File type Please file type in correct format
                    only</span
                  >
                </div>
                <div *ngIf="markSheetFileFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div>
              <div class="col-md-4">
                <h5>Birth Certificate (PDF Only)</h5>
                <input
                  type="file"
                  id="birthCertificate"
                  (change)="onBirthCertificateSelected($event)"
                  #studentBirthCertificateInput
                />
                <div *ngIf="!birthCertificateFileValidFile">
                  <span class="error-class"
                    >Invalid File type Please select file type in correct format
                    only</span
                  >
                </div>
                <div *ngIf="birthCertificateFileFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div>
              <!-- <div class="col-md-4">
                <h5>Head Master/Principal Sign with stamp</h5>
                <input
                  type="file"
                  id="headMasterSign"
                  (change)="onHeadMasterSignSelected($event)"
                  #headmasterSignInput
                />
                <div *ngIf="!headMasterSignFileValidFile">
                  <span class="error-class"
                    >Invalid File type Please select file type in correct format
                    only</span
                  >
                </div>
                <div *ngIf="headMasterSignFileFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div> -->
              <div class="col-md-4">
                <h5>Student Photo</h5>
                <input
                  type="file"
                  id="studentPhoto"
                  (change)="onStudentPhotoSelected($event)"
                  #studentPhotoInput
                />
                <div *ngIf="!studentPhotoFileValidFile">
                  <span class="error-class"
                    >Invalid File type Please select filefile type in correct
                    format only</span
                  >
                </div>
                <div *ngIf="studentPhotoFileFileBig">
                  <span class="error-class"
                    >File size too large please select file below 100 KB</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="bg-primary" *ngIf="docArray.length > 0">
            <p class="align-table-header">ALREADY UPLOADED DOCUMENTS</p>
          </div>
          <div class="table" *ngIf="docArray.length > 0">
            <div class="table-row table-header">
              <div class="table-cell">Birth Certificate</div>
              <div class="table-cell">Bonafide</div>
              <div class="table-cell">Government Id</div>
              <div class="table-cell">Last Year Mark Sheet</div>
              <div class="table-cell">Photo</div>
              <div class="table-cell">Student Sign</div>
              <!-- <div class="table-cell">
                Head Master/Principal Sign with stamp
              </div> -->
            </div>

            <div
              class="table-row"
              *ngFor="let student of docArray; let i = index"
            >
              <div class="table-cell">
                <a
                  *ngIf="student.birthCert != 'N/A'"
                  target="_blank"
                  href="{{ student.birthCert }}"
                  >VIEW</a
                >
                <a *ngIf="student.birthCert == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div>
              <div class="table-cell">
                <a
                  *ngIf="student.bonafide != 'N/A'"
                  target="_blank"
                  href="{{ student.bonafide }}"
                  >VIEW</a
                >
                <a *ngIf="student.bonafide == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div>
              <div class="table-cell">
                <a
                  *ngIf="student.govID != 'N/A'"
                  target="_blank"
                  href="{{ student.govID }}"
                  >VIEW</a
                >
                <a *ngIf="student.govID == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div>
              <div class="table-cell">
                <a
                  *ngIf="student.lastYearMarkSheet != 'N/A'"
                  target="_blank"
                  href="{{ student.lastYearMarkSheet }}"
                  >VIEW</a
                >
                <a *ngIf="student.lastYearMarkSheet == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div>
              <div class="table-cell">
                <img src="{{ student.Photo }}" height="50" width="50" />
                <a *ngIf="student.Photo == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div>
              <div class="table-cell">
                <img src="{{ student.stdSign }}" height="50" width="50" />
                <a *ngIf="student.stdSign == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div>
              <!-- <div class="table-cell">
                <img src="{{ student.headMastSign }}" height="50" width="50" />
                <a *ngIf="student.headMastSign == 'N/A'" target="_blank"
                  >Doc Not uploaded</a
                >
              </div> -->
            </div>
          </div>

          <!-- <div class="align-form-column">
                                    <label for="name">Candidate Scanned Sign</label>
                                        <div class="">
                                            <input  id="studentSign" type="file"  (change)="onStudentSignSelected($event)" id="customFile" #studentSignInput/>
                                        </div>
                                        <div *ngIf="!isStudentSignValidFile">
                                            <span class="error-class">Invalid File type Please select file PDF  or Image format only</span>
                                        </div>
                                        <div *ngIf="isStudentFileBig">
                                            <span class="error-class">File size too large please select image below 100 KB</span>
                                        </div> 
                                </div> 
                                <div class="align-form-column">
                                    <label for="alterEgo">Scanned Aadhaar/Passport/OCI</label>
                                    <div class="">
                                        <input type="file"  id="studentGovDoc" (change)="onScannedaadharSelected($event)"  #scannedaadharInput />
                                    </div>   
                                    <div *ngIf="!isStudenAadaharValidFile">
                                        <span class="error-class">Invalid File type Please select file PDF  or Image format only</span>
                                    </div>
                                    <div *ngIf="isStudenAadaharFileBig">
                                        <span class="error-class">File size too large please select image below 100 KB</span>
                                    </div>                             
                                 </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">School Bonafide</label>
                                    <div>
                                        <input type="file" id="studentBonafide" (change)="onBonafideSelected($event)" #studentBonafideInput />
                                    </div>   
                                    <div *ngIf="!isBonafideFileValidFile">
                                        <span class="error-class">Invalid File type Please select file PDF format only</span>
                                    </div>
                                    <div *ngIf="isBonafideFileFileBig">
                                        <span class="error-class">File size too large please select image below 100 KB</span>
                                    </div>  
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Last Year Mark Sheet</label>
                                    <div>
                                        <input type="file" id="lastYearmarkSheet" (change)="onMarkSheetSelected($event)" #studentmarksheetInput/>
                                    </div>  
                                    <div *ngIf="!markSheetFileValidFile">
                                        <span class="error-class">Invalid File type Please select file PDF  or Imageformat only</span>
                                    </div>
                                    <div *ngIf="markSheetFileFileBig">
                                        <span class="error-class">File size too large please select image below 100 KB</span>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Birth Certificate</label>
                                    <div>
                                        <input type="file" id="birthCertificate"  (change)="onBirthCertificateSelected($event)" #studentBirthCertificateInput  />
                                    </div> 
                                    <div *ngIf="!birthCertificateFileValidFile">
                                        <span class="error-class">Invalid File type Please select file PDF  or Image format only</span>
                                    </div>
                                    <div *ngIf="birthCertificateFileFileBig">
                                        <span class="error-class">File size too large please select image below 100 KB</span>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Head Master Sign</label>
                                    <div>
                                        <input type="file" id="headMasterSign"  (change)="onHeadMasterSignSelected($event)"  #headmasterSignInput />
                                    </div> 
                                    <div *ngIf="!headMasterSignFileValidFile">
                                        <span class="error-class">Invalid File type Please select file PDF  or Image format only</span>
                                    </div>
                                    <div *ngIf="headMasterSignFileFileBig">
                                        <span class="error-class">File size too large please select image below 100 KB</span>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Student Photo</label>
                                    <div>
                                        <input type="file" id="studentPhoto"  (change)="onStudentPhotoSelected($event)"  #studentPhotoInput/>
                                    </div>   
                                    <div *ngIf="!studentPhotoFileValidFile">
                                        <span class="error-class">Invalid File type Please select file PDF or Image format only</span>
                                    </div>
                                    <div *ngIf="studentPhotoFileFileBig">
                                        <span class="error-class">File size too large please select image below 100 KB</span>
                                    </div>                             
                                 </div>-->
        </form>
      </div>

      <div>
        <button
          type="button"
          class="close-button btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button
          *ngIf="docButtonVal == 'Save Changes'"
          [disabled]="sgfiFileEnrollForm.invalid"
          class="align-button"
          type="submit"
          (click)="onFileSubmit()"
          class="btn btn-primary"
        >
          {{ docButtonVal }}
        </button>
        <button
          *ngIf="docButtonVal == 'Update Changes'"
          class="align-button"
          type="submit"
          (click)="onEditFileSubmit()"
          class="btn btn-primary"
        >
          {{ docButtonVal }}
        </button>
      </div>
    </div>
    <app-loading *ngIf="showspinner"></app-loading>
    <div *ngIf="isPayment">
      <div class="col-md-12 align-sgfi-form">
        <div class="note-hint">
          Note:- Kindly hold patiently until it is redirected to ISSO portal for
          payment confirmation.Please do not close tab or browser.
        </div>
        <div class="alert alert-success" role="alert" *ngIf="isPaidStatus">
          You have already made payment please connect with ISSO admin for more
          details !
        </div>
        <div>
          <h4 *ngIf="!isPaidStatus">Total Payable Amount</h4>
          <h4 *ngIf="isPaidStatus">Total Paid Amount</h4>
          <div>
            <h4>{{ payableAmount | number : ".2" }} Rs.</h4>
          </div>
        </div>
      </div>
      <div class="form-group pad-zero" *ngIf="!isPaidStatus">
        <button
          [class.disabled]="!(payableAmount > 0)"
          class="btn pay-now-button"
          type="button"
          (click)="payNow(payableAmount, studentId, 'sgfi')"
        >
          PAY NOW
        </button>
      </div>
    </div>
  </div>
</p-dialog>
<p-toast
  [style]="{ marginTop: '50px' }"
  styleClass="custom-toast"
  key="custom"
  position="bottom-center"
></p-toast>
